{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <a class="logo" href="/"><img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/></a>
  <button class="dark-btn" onclick="darkMode()">
    <img src="{% static '/notes/img/dark16.png' %}" class="moon"/>
  </button>
</div>
<main class="container">
  <div class="card-container">
    {% for note in notes %}
    {% include "notes/components/note.html" %} 
    {% endfor %}
  </div>
<script type="text/javascript" src="{% static 'notes/scripts/getit.js' %}"></script> 
</main>
{% endblock %}